{
  "extends": [
    "airbnb"
  ],
  "parser": "babel-eslint",
  "env":
  {
    "node": true,
    "es6": true,
    "browser": true,
    "jest": true
  },
  "plugins": [
  ],
  "rules":
  {
    "import/no-extraneous-dependencies": "off",
    "react/jsx-filename-extension": "off",
    "sort-keys": "error"
  }
}